{{/* landing page for my personal website */}}
{{ define "content" }}
<main class="cv">
  <div class="grid">
    <section class="cell -4of12 -top">
      <h1 id="name">{{ .Site.Params.author }}</h1>
      <p> {{ .Site.Params.description }} </p>
    </section>
    <section class="cell -4of12">
      <h1 id="contact">Contact:</h1>
      {{ with .Site.Params.social }}<ul>
        {{ range sort .}}<li>
          <a href="{{ .url }}">{{ .name }}</a>
        </li>{{ end }}
      {{ end }}</ul>
    </section>
  </div>
  <div class="grid">
    <section class="cell -4of12">
      <h2 id="experience">Experience:</h2>
      {{ with .Site.Params.experience }}<ul>
        {{ range .}}<li>
          <strong>{{ .name }} ({{ .years }})<br>
            <a href="{{ .url }}">{{ .company }}</a>
          </strong>
          <p>{{ .description }}</p>
            {{ with .hist }}<ul>
              {{ range . }}<li>
                {{ .name }} ({{ .years }})
              </li>{{ end }}
            </ul>{{ end }}
          </li>{{ end }}
        </ul>{{ end }}
    </section>
    <section class="cell -4of12">
      <h2 id="technologies">Technologies:</h2>
      {{ with .Site.Params.technologies }}<ul>
        {{ range .}}<li>
          <strong>{{ .skill }}</strong><br>{{ .desc }}</h3>
        </li>{{ end }}
      {{ end }}</ul>
      <h2 id="education">Education</h2>
      {{ with .Site.Params.education }}<ul>
        {{ range .}}<li>
          <strong>{{ .diploma }}</strong> at {{ .school }}</h3>
            {{ with .levels }}<ul>
              {{ range sort . }}<li>
                <strong>{{ .name }}</strong> {{ .years }}
              </li>{{ end }}
            {{ end }}</ul>
        </li>{{ end }}
      {{ end }}</ul>
      <h2 id="free-time">Free time:</h2>
      {{ with .Site.Params.hobbies }}<ul>
        {{ range .}}<li>
          <strong>{{ .emph }}</strong> {{ .desc }}</h3>
        </li>{{ end }}
      {{ end }}</ul>
    </section>
  </div>
</main>
{{ end }}
