[submodule "static/js/reveal-js"]
	path = static/js/reveal-js
	url = git@github.com:hakimel/reveal.js.git
	branch = 6b8c64ffa8fddd9ed4bcd92bcfd37b67ba410244
[submodule "static/js/reveal-multiplex"]
	path = static/js/reveal-multiplex
	url = git@github.com:reveal/multiplex.git
[submodule "static/js/socketio"]
	path = static/js/socketio
	url = git@github.com:socketio/socket.io-client.git
