{{ define "title" }}
<title>Francis Begyn</title>
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fbegyn" />
<meta name="twitter:title" content="Francis Begyn" />

<!-- Description -->
<meta name="author" content="Francis Begyn">
{{ end }}

{{ define "content" }}
<div class="grid">
  <section class="cell -5of12 -top">
    <h1 id="name">Francis Begyn</h1>
    <p>An engineering technology student with an intrest for designing reliable and robust systems. Has the tendancy to keep digging until the root cause of an issue is found and solved under the motto 'first time right'.</p>
  </section>
  <section class="cell -1of12"></section>
  <section class="cell -6of12">
    <h1 id="contact">Contact:</h1>
    <ul>
      <li><a href="https://twitter.com/fbegyn">twitter.com/fbegyn</a></li>
      <li><a href="mailto:francis@begyn.be">francis@begyn.be</a> </li>
    </ul>
  </section>
</div>
<div class="grid">
  <section class="cell -5of12">
    <h2 id="experience">Experience:</h2>
    <ul>
      <li>
        <strong>Team Lead Site & Safety (2016-2019)<br>
          <a href="https://studentkickoff.be">Student Kick-Off</a>
        </strong>
        <p>In charge of the team that is responsible for the build up and break down of the festival terrain. We also provide operational security during the festival and coordinate with city and emergerncy services to ensure the visitors have a pleasant and safe experience.</p>
        <ul>
          <li>coordinator electricity - 2017</li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="cell -1of12"></section>
  <section class="cell -6of12">
    <h2 id="skills">Skills:</h2>
    <ul>
      <li><strong>Programming:</strong><br>Go, Python, C and other languages</li>
    </ul>
    <h2 id="education">Education</h2>
    <ul>
      <li>
        <strong>Engineering technology: electronics/ICT</strong> at Ghent University
        <ul>
          <li><strong>Bsc</strong> 2013-2017</li>
          <li><strong>Msc</strong> 2017-current</li>
        </ul>
      </li>
    </ul>
  </section>
</div>
{{ end }}
