<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "title" . }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" type="application/rss+xml" href="/blog.rss"/>
        <link rel="stylesheet" href="/static/css/style.css" />
        <style>
         .hack h1 {
             padding-top: 0;
         }

         footer.footer {
             border-top: 1px solid #ccc;
             margin-top: 80px;
             margin-top: 5rem;
             padding: 48px 0;
             padding: 3rem 0;
         }

         img {
             max-width: 100%;
             padding: 1em;
         }
        </style>
        {{ template "styles" . }}
    </head>
    <body>
        <div class="container">
            <header>
                <site-nav>
                    <a href="/">Francis Begyn</a> -
                    <a href="/blog">Blog</a> -
                    <a href="/talks">Talks</a> -
                    <a href="/about">About</a> -
                    <a href="/blog/rss">RSS</a>
                </site-nav>
                <theme-picker aria-label="Theme picker" role="radiogroup">
                    <label><input type="radio" name="theme" id="theme-auto" checked="">Auto</label>
                    <label><input type="radio" name="theme" id="theme-light">Light</label>
                    <label><input type="radio" name="theme" id="theme-dark">Dark</label>
                </theme-picker>
            </header>

            <site-content>
                {{ template "content" . }}
            </site-content>

            <footer>
                <blockquote>Copyright 2020-2025 Francis Begyn. Any and all opinions listed here are my own and not representative of my employers; future, past and present.</blockquote>
            </footer>
        </div>
    </body>
</html>

{{ define "styles" }}{{ end }}
