{{ define "title" }}
<title>Francis Begyn</title>
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fbegyn" />
<meta name="twitter:title" content="Francis Begyn" />

<!-- Description -->
<meta name="author" content="Francis Begyn">
{{ end }}

{{ define "content" }}
    <flex-section class="flex start">
        <block-section class="width small">
            <h1>Francis Begyn</h1>
            <img profile src="/static/img/profile.webp" alt="Profile picture" class="height small padding none right bottom">
        </block-section>
        <block-section class="width large">
            <h2>DevOps and SRE enthusiast</h2>
            <h3>Skills</h3>
            <ul>
                <li>Go, C, Python (3.x) and other languages</li>
                <li>Docker, Kubernetes, Google cloud</li>
                <li>Prometheus, Alertmanager, InfluxDB, Ansible, Terraform</li>
            </ul>

            <h3>Projects</h3>
            <ul>
                <li>
                    <a href="https://github.com/ZeusWPI/doorkeeper">Doorkeeper</a> -
                    An Arduino that can keep guard on the door
                </li>
                <li>
                    <a href="https://github.com/fbegyn/tc_exporter">tc_exporter</a> -
                    Prometheus exporter for tc classes, qdiscs, ...
                </li>
                <li>
                    <a href="https://github.com/fbegyn/Mimir">Mimir</a> - Project
                    that is capable of driving RGB LEDs to reflect the network status
                </li>
                <li>
                    <a href="https://github.com/florianl/go-tc">go-tc</a> - Small
                    contributions to an open source library
                </li>
            </ul>

            <h3>Socials</h3>
            <ul>
                <li><a href="https://github.com/fbegyn" rel="me">GitHub</a></li>
                <li><a href="https://bsky.app/profile/francis.begyn.be" rel="me">Bluesky</a></li>
                <li><a href="https://www.linkedin.com/in/fbegyn" rel="me">LinkedIn</a></li>
            </ul>
        </block-section>
    </flex-section>
{{ end }}
